<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/styleP.css' />
</head>

<body>
  <%- include('../partial/nav.ejs') %>
 <main>
  <section id="show-page">
    <div><h2>Product Detail: </h2></div><br>
    <div>Product Name: <%= product.Product_Name %>
    </div> <br>
              <div>Category: <%= product.Category %>
              </div> <br>
              <div>Product Name <%= product.Product_Name %>
              </div><br>
              <div>Product Status <%= product.Product_Status%>
              </div><br>

            
              
  </section>

          
      <br></br> 
      <h2>Demands</h2>
      <% if (user) { %>
        <form id="add-demand-form" method="POST" action="/products/<%= product._id %>/demand">
            <label>Customer Name:</label>
            <select name="customerName">
              <% customers.forEach(c => { %>
                  <option value="<%= c.customer_name %>"><%= c.customer_name %></option>
              <% }) %>
          </select>
            
            

            <label>CQ:</label>
            <input type="number" name="CQ">
            <label>CQ+1:</label>
            <input type="number" name="CQ+1">
            <label>CQ+2:</label>
            <input type="number" name="CQ+2">
            
    
            <input type="submit" value="Add Demand">
        </form>
    <% } %>
    <br></br> 

<% if (product.demands.length) { %>
    <table>
      <thead>
        <tr>
          
          <th>Date</th>
          <th>Customer</th>
          <th>CQ</th>
          <th>CQ+1</th>
          <th>CQ+2</th>
        </tr>
      </thead>
      <tbody>
        <% product.demands.forEach(function(d) { %>
          <tr>
            
            <td><%= d.createdAt.toLocaleDateString() %></td>
            <td><%= d.customerName %></td>
            <td><%= d.CQ %></td>
            <td><%= d["CQ+1"] %></td>
            <td><%= d["CQ+2"] %></td>
            <td class="update-demand-container" style="text-align: center;">
              <form action="/demands/<%= d._id %>?_method=PUT" method="POST">
                <!-- Value attribute is being set to the demand's current text -->
                <label>CQ</label><br>
                <input name="CQ" value="<%= d.CQ %>"><br>
                <label>CQ+1</label><br>
                <input name="CQ+1" value="<%= d["CQ+1"] %>"><br>
                <label>CQ+2</label><br>
                <input name="CQ+2" value="<%= d["CQ+2"] %>"><br>
                <button type="submit">UPDATE DEMAND</button>
              </form>
              
            </td>

            

            <td>
              <% if (user && user._id.equals(d.user)) { %>
                <form action="/demands/<%= d._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
                </form>
              <% } %>
            </td>
            

          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Demands Yet</h5>
  <% } %>
</main>