<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/styleP.css' />
</head>

<body>
  <%- include('../partial/nav.ejs') %>
 <main>
  <section id="show-page">
    <div>Product Detail: </div>
    <div>
    <%= product.demand %>
              </div>
              <div>Category: </div>
              <div>
                  <%= product.Category %>
              </div>
              <div>Product Name </div>
              <div>
                  <%= product.Product_Name %>
              </div>
              <div>Product Status </div>
              <div>
                  <%= product.Product_Status%>
              </div>
              
  </section>
          
      <br></br> 
      <h2>Demands</h2>
      <% if (user) { %>
        <form id="add-demand-form" method="POST" action="/products/<%= product._id %>/demand">
            <label>Customer Name:</label>
            <textarea name="customerName"></textarea>
            <label>CQ:</label>
            <input type="number" name="CQ">
            <label>CQ+1:</label>
            <input type="number" name="CQ+1">
            <label>CQ+2:</label>
            <input type="number" name="CQ+2">
            
    
            <input type="submit" value="Add Demand">
        </form>
    <% } %>

<% if (product.demands.length) { %>
    <table>
      <thead>
        <tr>
          
          <th>Date</th>
          <th>Customer</th>
          <th>CQ</th>
          <th>CQ+1</th>
          <th>CQ+2</th>
        </tr>
      </thead>
      <tbody>
        <% product.demands.forEach(function(d) { %>
          <tr>
            
            <td><%= d.createdAt.toLocaleDateString() %></td>
            <td><%= d.customerName %></td>
            <td><%= d.CQ %></td>
            <td><%= d["CQ+1"] %></td>
            <td><%= d["CQ+2"] %></td>
            <td class="update-demand">
              <form action="/demands/<%= d._id %>?_method=PUT" method="POST">
                <!-- Value attribute is being set to the demand's current text -->
                <input name="CQ" value="<%= d.CQ %>">
                <input name="CQ+1" value="<%= d["CQ+1"] %>">
                <input name="CQ+2" value="<%= d["CQ+2"] %>">
                <button type="submit">UPDATE DEMAND</button>
              </form>
              
            </td>

            

            <td>
              <% if (user && user._id.equals(d.user)) { %>
                <form action="/demands/<%= d._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
                </form>
              <% } %>
            </td>
            

          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Demands Yet</h5>
  <% } %>
</main>